* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	font-family: "Poppins", sans-serif;
}
*:after,
*:before {
	box-sizing: border-box;
}
a:link {
	text-decoration: none;
}

:root {
	--byAlmeydacolor: linear-gradient(
		90deg,
		#0058d3,
		#1276fe,
		#0099ff,
		#00ccff,
		#0099ff,
		#1276fe,
		#0058d3
	);
	--almeydaText: #fff;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}
span {
	color: blueviolet;
}
body {
	background: #fff;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
p {
	position: absolute;
	font: 16px Verdana;
	color: #111;
	bottom: 3.5rem;
}

.poweredbyAlmeydaFranja {
	position: absolute;
	width: 100%;
	height: 2.5rem;
	z-index: 2;
	display: flex;
	align-items: center;
	bottom: 0;
}
.poweredbyAlmeydaFranja,
.poweredbyAlmeydaFranja::before {
	animation: byAlmeyda 20s linear infinite;
	background: var(--byAlmeydacolor);
	background-size: 400%;
	backdrop-filter: blur(20px);
}
.powered {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
}
.powered svg {
	font-size: 20px;
	fill: var(--almeydaText);
	margin: 0px 3px 0px 5px;
}
.almeyda {
	font-size: 14px;
	font-weight: 400;
	color: var(--almeydaText);
}
@keyframes byAlmeyda {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 400%;
	}
	100% {
		background-position: 0%;
	}
}

.poweredbyAlmeydaFranja::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	z-index: 1;
	filter: blur(20px);
	opacity: 0.4;
	transition: 0.5s;
}

.parafrase {
	width: 100%;
	display: flex !important;
	justify-content: center !important;
	text-align: center !important;
}
